*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3f3f3;
}
.bank-area{
    display: none;
}
@media (max-width:768px){
    .card-body{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-body h3, .card-body span{
        font-size: 1rem;
    }
    .bank-form{
        display: flex;
        justify-content: space space-between;
        align-items: center;
    }
    .bank-form input{
        margin-bottom: 0px !important;
        margin-right: 1rem;
    }
    .bank-form h3{
        font-size: 1rem;
        display: none;
    }
    .form button, button{
        font-size: .8rem !important;
    }
}